@model DonorAppVersion2.Models.DonorCycle

@{
    ViewBag.Title = "Add Donor Cycle : Parents Portal - Donor21";
    Layout = "~/Views/Shared/_parentLayout.cshtml";
}




@using (Html.BeginForm("AddDonorCycle","Parent",FormMethod.Post)) 
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-8">
            <h2>Add Donor Cycle</h2>
            <div class="form-horizontal">
                <h4>Add Information of your current Donor Cycle</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <label class="label label-success">@ViewBag.SuccessMessage</label>
                        <label class="label label-warning">@ViewBag.WarningMessage</label>
                        <label class="label label-danger">@ViewBag.ErrorMessage</label>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DonorId, "DonorId", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.DonorId, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.DonorId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MonthAndYearOfRetrieval, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.MonthAndYearOfRetrieval, new { htmlAttributes = new { @class = "form-control" }, @required = "required", @placeholder = "MM/yyyy" })
                        @Html.ValidationMessageFor(model => model.MonthAndYearOfRetrieval, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FertilityAttorny, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.FertilityAttorny, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.FertilityAttorny, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DonorEyeColor, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.DonorEyeColor, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.DonorEyeColor, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DonorHeight, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.DonorHeight, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.DonorHeight, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DonorAge, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.DonorAge, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.DonorAge, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" value="Add Donor Cycle" class="btn btn-primary btn-block" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Instructions</h2>
            <h4>Read before you add your donor cycle</h4>
            <hr />
            <ul>
                <li>Only add donor cycle if you have all the information needed in this form.</li>
                <li>If you don't have information or do not understand any field to be filled, Contact Donor21 Support</li>
                <li>After you add a donor cycle, it will be verified by Donor 21, Your associated Clinic or Agency and The Donor himself</li>
                <li>If you have existing donor cycle, Only add new donor cycle if the donor is different.</li>
                <li>You have to pay charges for your each active donor cycle</li>
            </ul>
        </div>
        
    </div>
}


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script type="text/javascript">
    $(function () {
        $("#DonorId").autocomplete({
            source: "/Parent/GetDonorsList",
            minLength: 1,
            select: function (event, ui) {
                if (ui.item) {
                    $("#DonorId").val(ui.item.value);
                    $("form").submit();
                }
            }
        });
    });
</script>