@model DonorAppVersion2.Models.ParentAndDonorCyclesViewModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_parentLayout.cshtml";
}

<h2>Parent Dashboard</h2>

@{
    
    var AccountStatus="";
    var note = Model.Parent.Note;
    var payment_classname = "";
    var account_classname = "";
    if(Model.Parent.Status == true)
    {
        AccountStatus = "Active";
        payment_classname = "hiddencontent";
        account_classname = "accountStatusActive";
    }
    else
    {
        AccountStatus = "Inactive";
        payment_classname = null;
        account_classname = "accountStatusInactive";
    }


    var donorCycle = Model.DonorCycleEgg;
    var donorcycleid = 0;
    
    if(donorCycle != null)
    {
        donorcycleid = donorCycle.Count();
    }
    
    
}

<div class="row">
    <div class="col-md-9">
        <div style="background-color:#014476; color:#fff; padding:10px; font-size:large">
            Your Unique Donor21 Parent Id : <strong> @Model.Parent.ParentId</strong>
        </div><hr />
        <h4>Active Donor Cycles</h4>
        <table class="table table-striped" style="font-size:xx-small;">

                @if (donorcycleid > 0)
                {
                    <tr>

                        <th>Donor Id</th>
                        <th>Child Type</th>
                        <th>Month and Year of Retrival</th>
                        <th>Donors Eye Color</th>
                        <th>Donors Height</th>
                        <th>Donors Age</th>
                        <th>Action</th>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>
                            <text> You dont have any active donor cycles added yet </text>
                        </td>
                    </tr>
                }

                @foreach (var cycle in donorCycle)
                {
                    <tr>
                        <td>@cycle.DonorId</td>
                        <td>@cycle.ChildType</td>
                        <td>@cycle.MonthAndYearOfRetrieval</td>
                        <td>@cycle.DonorEyeColor</td>
                        <td>@cycle.DonorHeight</td>
                        <td>@cycle.DonorAge</td>
                        <td>
                                
                            @if (cycle.isApprovedByDonor == true)
                            {
                                <a href="~/Parent/ViewDonorCycle/@cycle.DonorCycleId" class="label label-primary" style="text-decoration:none">View Update</a>
                            }
                            else
                            {
                                <a href="~/Parent/ViewDonorCycle/@cycle.DonorCycleId" class="label label-primary" style="text-decoration:none">View Update</a>
                                <a href="~/Parent/RemoveDonorCycle/@cycle.DonorCycleId" class="label label-danger" style="text-decoration:none">Remove</a>
                            }
                        </td>
                    </tr>
                }

                
        </table>
        <div class="form-group">
            <div class="col-md-12">
                <label class="label label-danger">@ViewBag.ErrorMessage</label>
                <label class="label label-warning">@ViewBag.WarningMessage</label>
                <label class="label label-success">@ViewBag.SuccessMessage</label>
            </div>
        </div>
        <a href="~/Parent/AddDonorCycle" class="btn btn-primary">Add Donor Cycle</a>
        <hr />

    </div>

    <div class="col-md-3">
        <div style="padding:20px; background-color:#282828; color:#fff">
            <h4>Account Status</h4><hr />
            <h1 class="@account_classname">@AccountStatus</h1>
            <small>@note</small><br /><br />
            <a href="~/Parent/PayRegistrationFees" class="@payment_classname">Complete Payment Now!</a>
            <br />
            <span style="font-size:xx-small;" class="@payment_classname">You wont be able to add Donor Cycles, Request Match Details or Fill up your other details until you complete the payment</span>


        </div>
    </div>
</div>


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>