@model DonorAppVersion2.Models.DonorAndDonorCycleViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_donorLayout.cshtml";
}
<h2>Donor Dashboard</h2>

@{

    var contactverify_classname = "";
    var accountstatus = "";
    var class_verifycontactlink = "";

    if (Model.Donor.isContactVerified == true)
    {
        contactverify_classname = "accountStatusActive";
        accountstatus = "Verified";
        class_verifycontactlink = "hiddencontent";
    }
    else
    {
        contactverify_classname = "accountStatusInactive";
        accountstatus = "Verification Pending";
        class_verifycontactlink = null;
    }

    var donorCycle = Model.DonorCycle;
    var donorcycleid = 0;

    if (donorCycle != null)
    {
        donorcycleid = donorCycle.Count();
    }


}
<div class="row">
    <div class="col-md-9">
        <div style="background-color:#ff6a00; color:#fff; padding:10px; font-size:large">
            Your Unique Donor21 Donor Id : <strong> @Model.Donor.DonorId</strong>


        </div><hr />
        <h4>Your Donor Cycle Involvement</h4>
        <table class="table table-striped" style="font-size:xx-small;">

            @if (donorcycleid > 0)
            {
                <tr>
                    <th>Parent Id</th>
                    <th>Month and Year of Retrival</th>
                    <th>Fertility Attorny</th>
                    <th>Donors Eye Color</th>
                    <th>Donors Height</th>
                    <th>Donors Age</th>
                    <th>Action</th>
                </tr>
            }
            else
            {
                <tr>
                    <td>
                        <text> No recipient has added you to their donor cycle yet! </text>
                    </td>
                </tr>
            }

            @foreach (DonorAppVersion2.Models.DonorCycle cycle in donorCycle)
            {
                <tr>
                    <td>@cycle.ParentId</td>
                    <td>@cycle.MonthAndYearOfRetrieval</td>
                    <td>@cycle.FertilityAttorny</td>
                    <td>@cycle.DonorEyeColor</td>
                    <td>@cycle.DonorHeight</td>
                    <td>@cycle.DonorAge</td>
                    <td>
                        @{
                            if (cycle.isApprovedByDonor == false)
                            {
                                <a href="~/Donor/ApproveDonorCycle/@cycle.DonorCycleId" style="text-decoration:none" class="label label-success">Approve</a><a href="~/Donor/RejectDonorCycle/@cycle.DonorCycleId" class="label label-danger" style="text-decoration:none">Reject</a>
                            }
                            else
                            {
                                <a href="~/Donor/SubmitUpdate" class="label label-primary" style="text-decoration:none">Submit Update</a>
                            }
}

                    </td>



                </tr>
            }


        </table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label class="label label-success">@ViewBag.SuccessMessage</label>
                <label class="label label-warning">@ViewBag.WarningMessage</label>
                <label class="label label-danger">@ViewBag.ErrorMessage</label>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        @if (accountstatus != "Verified")
        {        
            <div style="padding:20px; background-color:#282828; color:#fff">
                <h4>Account Status</h4><hr />
                <h3 class="@contactverify_classname">@accountstatus</h3>

                <a href="~/Donor/Verification/@Session["DonorId"].ToString()" class="@class_verifycontactlink">Verify your Contact Details Now!!</a>
                <br />
                <span style="font-size:xx-small;" class="@class_verifycontactlink">You must verify your contact details first to start using your portal</span>

            </div>   
        }
        
    </div>
</div>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>