@model DonorAppVersion2.Models.DonorAndDonorCycleViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_donorLayout.cshtml";
}
<h2>Donor Dashboard</h2>

@{

    var contactverify_classname = "";
    var accountstatus = "";
    var class_verifycontactlink = "";
    var donor = Model.Donor;
    if(donor != null)
    { 
        if (Model.Donor.isContactVerified == true)
        {
            contactverify_classname = "accountStatusActive";
            accountstatus = "Verified";
            class_verifycontactlink = "hiddencontent";
        }
        else
        {
            contactverify_classname = "accountStatusInactive";
            accountstatus = "Verification Pending";
            class_verifycontactlink = null;
        }
    }
    else
    {
        Response.Redirect("SessionTimeout");
    }

    var donorCycle = Model.DonorCycleEgg;
    var donorcycleid = 0;

    if (donorCycle != null)
    {
        donorcycleid = donorCycle.Count();
    }


}
<div class="row">
    <div class="col-md-9">
        <div style="background-color:#ff6a00; color:#fff; padding:10px; font-size:large">
            Your Unique Donor21 Donor Id : <strong> @donor.DonorId</strong>
        </div><hr />
        <h4>Your Donor Cycle Involvement</h4>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label class="label label-success">@ViewBag.SuccessMessage</label>
                <label class="label label-warning">@ViewBag.WarningMessage</label>
                <label class="label label-danger">@ViewBag.ErrorMessage</label>
            </div>
        </div>
        <table class="table table-striped" style="font-size:x-small;">

            @if (donorcycleid > 0)
            {
                <tr>
                    <th>Donor Cycle Id</th>
                    <th>Parent Id</th>
                    <th>Child Type</th>
                    <th>Retrival on</th>
                    <th>Donors Details</th>
                    <th>Action</th>
                </tr>
                foreach (DonorAppVersion2.Models.DonorCycleEgg cycle in donorCycle)
                {
                    <tr>
                        <td>@cycle.DonorCycleId</td>
                        <td>@cycle.ParentId</td>
                        <td>@cycle.ChildType</td>
                        <td>@cycle.MonthAndYearOfRetrieval</td>
                        <td>
                            Eye Color :  @cycle.DonorEyeColor<br />
                            Height : @cycle.DonorHeight cm<br />
                            Age : @cycle.DonorAge
                        </td>
                        <td>
                            @{
                                if (cycle.isApprovedByDonor == false)
                                {
                                    @Html.ActionLink("Approve", "ApproveDonorCycle", "Donor", new { @id = @cycle.DonorCycleId }, new { @class = "label label-success" });
                                    @Html.ActionLink("Reject", "RejectDonorCycle", "Donor", new { @id = @cycle.DonorCycleId }, new { @class = "label label-danger" });
                                }
                                else
                                {
                                    <a href="~/Donor/SubmitUpdate/@cycle.DonorCycleId" class="label label-primary" style="text-decoration:none">Submit Update</a>
                                }
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>
                        <text> No recipient has added you to their donor cycle yet! </text>
                    </td>
                </tr>
            }
        </table>

    </div>
    <div class="col-md-3">
        @if (accountstatus != "Verified")
        {
            <div style="padding:20px; background-color:#282828; color:#fff">
                <h4>Account Status</h4><hr />
                <h3 class="@contactverify_classname">@accountstatus</h3>

                <a href="~/Donor/Verification/@Session["DonorId"].ToString()" class="@class_verifycontactlink">Verify your Contact Details Now!!</a>
                <br />
                <span style="font-size:xx-small;" class="@class_verifycontactlink">You must verify your contact details first to start using your portal</span>
            </div>
             <br />
        }

        <div style="border:solid 1px #ccc; padding:10px; text-align:center; background-color:#e5e5e5">
            Your Donation Type
            <h4 style="margin-top:5px">@donor.DonorType [ @donor.Gender ]</h4>
            
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>