@model DonorAppVersion2.Models.PotentialMatches

@{
    ViewBag.Title = "Submit New Match";
    Layout = "~/Views/Shared/_partnerLayout.cshtml";
}

<h2>Submit a New Potential Match</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>PotentialMatches</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PMID)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label class="label label-success">@ViewBag.SuccessMessage</label>
                <label class="label label-warning">@ViewBag.DuplicateMessage</label>
                <label class="label label-danger">@ViewBag.ErrorMessage</label>
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.ParentName, "Parent Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ParentName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ParentName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ParentContactNumber, "Parent Contact Number", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ParentContactNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ParentContactNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ParentEmail, "Parent Email", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ParentEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ParentEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DonorName, "Donor Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DonorName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DonorName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DonorContactNumber, "Donor Contact Number", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DonorContactNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DonorContactNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DonorEmail, "Donor Email", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DonorEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DonorEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DonorType, "Donor Type", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="DonorGender" class="form-control">
                    <option>Genetic Parent</option>
                    <option>Donor</option>
                </select>
                @Html.ValidationMessageFor(model => model.DonorType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DonorGender, "Donor Gender", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="DonorGender" class="form-control">
                    <option>Male</option>
                    <option>Female</option>
                </select>
                @Html.ValidationMessageFor(model => model.DonorGender, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.MatchStatus);
        @Html.HiddenFor(model => model.PartnerId);

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit Match" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
